//【English】
//Roboto Slab (roboto_slab)
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

//Limelight (limelight)
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

//Noto Serif (noto_serif)
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

//Noto Sans TC
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

//Playwrite Tanzania (play_write)
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&family=Playwrite+NO+Guides&family=Playwrite+TZ:wght@100..400&display=swap');

//Edu TAS Beginner (edu_tas)
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

//
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


//【Chinese】
//UoqMunThenKhung (uoq_mun)
@import url('https://fonts.googleapis.com/css2?family=UoqMunThenKhung&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-size: 16px;  //16px
}

body {
    font-family: "Noto Serif", serif;;
    background-color: #eee;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

.btn {
    outline: none;
    &:focus {
        outline: none;
        border: transparent;
    }
}

ul {
    li {
        list-style: none;
    }
}


input::placeholder {
    color: #ccc !important
}

.flex-1 {
    flex-grow: 0;
    @include media-md {
        flex-grow: 1;
        width: 0;
    }
}

.text-justify {
    text-align: justify;
}

.text-last-justify {
    text-align-last: justify;
}

.title {
    margin: 3vh 0 8vh 0;
    display: flex;
    &::before,
    &::after {
        content: "";
        top: 50%;
        width: 0;
        height: 3px;
        background-color: currentColor;
        flex-grow: 1;
        margin: auto 2vw;
    }
}

.subTitle {
    margin: 0;
    padding-left: 1rem;
    border-left: 4px solid currentColor;
    background-color: #fff;
}

.card-shadow {
    box-shadow: rgba(100, 100, 111, 0.1) 0px 5px 10px 0px;
}


//((Font-Size))
//e
.limelight {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

//e
.edu_tas {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

//e
.play_write {
    font-family: "Playwrite TZ", cursive;
    font-weight: 400;
    font-style: normal;
}

//e
.noto_serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
}

//c
.uoq_mun {
    font-family: "UoqMunThenKhung", serif;
    font-weight: 400;
    font-style: normal;
}

