.back-btn {
    color: #309dc1;
    border: 3px solid #309dc1;
    width: 60px;
    aspect-ratio: 1;
    &:hover {
        background-color: #f7ae5b;
        color: #fff;
    }
}

.prev_btn, .next_btn {
    font-size: 1rem;
    text-align: center;
    border: 1px solid currentColor;
    &:hover {
        filter: contrast(1.1);
        border: 1px solid currentColor;
    }
}

.prev_btn,
.prev_btn:focus{
    color: #309dc1;
    background: #fff;
    &:hover {
        color: #309dc1;
        background: #fff;
    }
}

.next_btn,
.next_btn:focus {
    color: #fff;
    background: #309dc1;
    &:hover {
        color: #fff;
        background: #309dc1;
    }
}


.hover-btn,
.hover-btn:focus {
    position: relative;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
    z-index: 1;
    color: #309dc1;
    background-color: #fff;
    border: 1px solid currentColor;
    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    &::before {
        z-index: -2;
        background-color: #eee;
    }
    &::after {
        z-index: -1;
        background-color: #309dc1;
        border-radius: 10px;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: .2s transform ease-out;
    }
    &:hover {
        color: #fff;
        transform: scale(1.05);
        border: transparent;
        &::after {
            transform: translate(0, 0);
        }
    }
}

.btn-tab {
    font-size: 18px;
    width: 100px;
    margin: 0 3px 10px;
    padding: .8rem 0;
    border: transparent;
    color: $secondary;
    background-color: #eee;
    outline: none;
    transform: translateX(0px);
    transition: all .3s ease-in-out;
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        transform: translateY(-6px);
    }
}
.btn-tab.underline {
    color: $primary;
    border: transparent;
    border-bottom: 3px solid $primary;
}

.hover-text-btn {
    color: #222;
    &:hover {
        color: $primary;
    }
}

.product-tab {
    display: inline-block;
    width: 100%;
    padding: .8rem 0;
    color: #222;
    background-color: #eee;
    outline: none;
    transform: translateX(0px);
    transition: all .3s ease-in-out;
    &:focus {
        outline: none;
        border: none;
    }
    @include media-md {
        width: 25%;
    }
}
.product-tab.underline {
    color: $primary;
}