@mixin media-xxl {
    @media all and (max-width: $media-xxl) {
        @content;
    }
};

@mixin media-xl {
    @media all and (max-width: $media-xl) {
        @content;
    }
};

@mixin media-lg {
    @media all and (max-width: $media-lg) {
        @content;
    }
};

@mixin media-md {
    @media all and (max-width: $media-md) {
        @content;
    }
};

@mixin media-sm {
    @media all and (max-width: $media-sm) {
        @content;
    }
};

//430
@mixin media-xs {
    @media all and (max-width: $media-xs) {
        @content;
    }
};

//360
@mixin xxs {
    @media all and (max-width: $media-xxs) {
        @content;
    }
};