@import "bootstrap/scss/functions";
@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";

@import "_variables";
@import "_mixin.scss";
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons";

@import "_base.scss";
@import "_navbar.scss";
@import "_wave.scss";
@import "_carousel.scss";
@import "_btn.scss";
@import "_server.scss";
@import "_client.scss";

