//Roboto Slab
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

//Limelight
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

//Noto Serif
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

//Noto Sans TC
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

//Playwrite Tanzania
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&family=Playwrite+NO+Guides&family=Playwrite+TZ:wght@100..400&display=swap');

//Edu TAS Beginner
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html {
    font-family: 'Noto Serif', "Noto Sans TC";
    font-size: 16px;  //16px
    // font-weight: $fw-bold;
}

body {
    // line-height: $lh-base;
    background-color: #eee;
}


img {
    object-fit: cover;
}

a {
    text-decoration: none;
    // color: #000;
}

.btn {
    &:focus {
        outline: none;
        border: none;
    }
}

//login
.eyeToggle {
    top: 30px;
    right: 30px;
}

//navbar
.cart-icon {
    @include media-lg {
        margin-right: 3.8rem;
    }
}
.nav-logo {
    width: 80px;
    height: auto;
    margin-top: -20px;
    margin-left: -16px;
    @include media-md {
        width: 60px;
        padding-top: 8px;
    }
    // clip-path: inset( 0 0 35px 0);
}

.nav-menu {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 0%;
        background-color: currentColor;
        left: 50%;
        bottom: -10px;
    }
    &:hover {
        &::before {
            width: 100%;
            left: 0;
            transition: .3s ease;
        }
    }
}


//banner
.playWrite {
    font-family: "Playwrite TZ", cursive;
    font-weight: 400;
    font-style: normal;
}

.eduTas {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.title {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 3vw 0 6vw 0;
    // position: relative;
    display: flex;
    &::before,
    &::after {
        content: "";
        top: 50%;
        width: 0;
        height: 3px;
        background-color: currentColor;
        flex-grow: 1;
        margin: auto 2vw;
    }
}

.subTitle {
    font-family: "Limelight", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1rem;
    text-align: center;
}

//article
.article-bg {
    background-color: #c3ebf7;
    height: 500px;
    clip-path: polygon(0 0, 68% 35%, 100% 100%, 23% 71%);

}

//Home
.cloud {
    margin: 12rem auto 2rem;
    padding: 1rem;
    max-width: 600px;
    min-width: 300px;
    // min-height: 150px;
    aspect-ratio: 4/1;
    background-color: aqua;
    border-radius: 180px 180px 100px 100px;
    position: relative;
    &::before, &::after {
        content: "";
        position: absolute;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: aqua;
        z-index: -1;
    }
    &::before {
        min-width: 38%;
        left: 15%;
        bottom: 30%; 
    }
    &::after {
        min-width: 48%;
        right: 13%;
        bottom: 25%;
    }
}



//intro
.shape-RB {
    @include media-md {
        // background: red;
        float: left;
        width: 15%; 
        height: 120px;
        shape-outside: radial-gradient(farthest-side ellipse at right top, transparent 100%, #fff);
    }
}

.shape-RT {
    @include media-md {
        // background: red;
        float: left;
        width: 12%; 
        height: 100px;
        shape-outside: radial-gradient(farthest-side ellipse at right bottom, transparent 100%, #fff);
    }
}

.shape-LB {
    @include media-md {
        // background: red;
        float: right;
        width: 15%; 
        height: 100px;
        shape-outside: radial-gradient(farthest-side ellipse at left top, transparent 100%, #fff);
    }
}

.shape-LT {
    @include media-md {
        // background: red;
        float: right;
        width: 12%; 
        height: 100px;
        shape-outside: radial-gradient(farthest-side ellipse at left bottom, transparent 100%, #fff);
    }
}

//products

// .card-product {
//     &:hover {
//         box-shadow: 0 5px 15px 0 yellow;
//         transition: all .5;
//     }
// }
.card-product-content {
    &::before {
        content: "";
        position: absolute;
        top: 46%;
        left: 0;
        border-top: transparent 50px solid;
        // border-bottom: transparent 30px solid;
        border-left: #f4d3ad 144px solid; 
        overflow: hidden;
    }
}

//article
.tag, .tag-edit {
    border-radius: 15px;
    padding: .3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tag {
    background: #ddd;
    font-weight: bold;
}

.tag-edit {
    background: #f4d3ad;
}

.tag-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #f4d3ad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}

//test
.group {
    padding: 30px 20px 60px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.group > div {
    position: relative;
    font-size: 13px;
    box-sizing: border-box;
    padding-top: 60px;
    text-align: center;
    margin: 30px;
}

.box {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #fff;
}

.circle {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
}

.box, .circle{
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.neumorphism {
    // background-color: rgb(190, 205, 214);
    background-color: #f4d3ad;
    padding: 50px;
}
.neumorphism .box {
    border-radius: 10px;
}
.neumorphism .box, .neumorphism .circle {
    // background-color: rgb(190, 205, 214);
    background-color: #f4d3ad;
    transition: box-shadow 0.5s;
    box-shadow:
        // 10px 10px 30px rgba(18, 47, 61, 0.5),
        // -10px -10px 30px rgba(248, 253, 255, 0.9),
        10px 10px 30px #f29e3e,
        -10px -10px 30px #f2e9de,
        inset 10px 10px 30px transparent,
        inset -10px -10px 30px transparent;
}
.neumorphism .box, 
.neumorphism .circle{
    &:hover {
        box-shadow:
            10px 10px 30px transparent,
            -10px -10px 30px transparent,
            // inset 10px 10px 30px rgba(18, 47, 61, 0.5),
            // inset -10px -10px 30px rgba(248, 253, 255, 0.9);
            inset 10px 10px 30px #f29e3e,
            inset -10px -10px 30px #f2e9de,
    }
}

.btn-shadow {
    transition: box-shadow 0.5s;
    box-shadow:
        10px 10px 30px #f4d3ad,
        -10px -10px 30px rgba(248, 253, 255, 0.9),
        inset 10px 10px 30px transparent,
        inset -10px -10px 30px transparent;
    &:hover {
        box-shadow:
            10px 10px 30px transparent,
            -10px -10px 30px transparent,
            inset 10px 10px 30px #f4d3ad,
            inset -10px -10px 30px rgba(248, 253, 255, 0.9);
    }
}
