.back-btn {
    color: #309dc1;
    border: 3px solid #309dc1;
    width: 60px;
    aspect-ratio: 1;
    &:hover {
        background-color: #f7ae5b;
        color: #fff;
    }
}


.hover-btn,
.hover-btn:focus {
    position: relative;
    z-index: 0;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
    // padding: 10px 20px;
    z-index: 1;
    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    &::before {
        z-index: -2;
        background-color: #eee;
    }
    &::after {
        z-index: -1;
        background-color: #f7ae5b;
        border-radius: 10px;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: .2s transform ease-out;
    }
    &:hover {
        border: 2px solid transparent;
        color: #FFFFFF;
        transform: scale(1.05);
        &::after {
            transform: translate(0, 0);
        }
    }
}

.btn-tab {
    font-size: 18px;
    width: 100px;
    margin: 0 3px;
    padding: .8rem 0;
    border: transparent;
    color: $secondary;
    // border-bottom: 1px solid $secondary;
    background-color: #eee;
    outline: none;
    transform: translateX(0px);
    transition: all .3s ease-in-out;
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        transform: translateY(-8px);
    }
}
.btn-tab.underline {
    color: #309dc1;
    border: transparent;
    border-bottom: 4px solid $primary;
}