.wave_bg {
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}

.wave {
    // border: 2px solid red;
    
    position: relative;
    align-items: center;
    // min-height: 100vh;
    min-height: 400px;
    background-color: #309dc1;
    overflow: hidden;
    &:before, &:after {
        content: "";
        position: absolute;
        left: 50%;
        min-width: 300vw;
        min-height: 300vw;
        // width: 100%;
        // height: 100%;

        background-color: #eee;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &:before {
        bottom: 8vh;
        border-radius: 45%;
        animation-duration: 30s;
    }

    &:after {
        bottom: 5vh;
        opacity: .5;
        border-radius: 47%;
        animation-duration: 30s;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}
